<div class="container my-2">
  <div class="row justify-content-center">
      <h2 class="text-center my-4">Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'card p-4' }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :name, label: "Name", required: true, input_html: { class: "form-control mb-3" } %>
        <%= f.input :age, label: "Age", required: true, input_html: { class: "form-control mb-3" } %>
        <%= f.input :nickname, label: "Nickname", required: true, input_html: { class: "form-control mb-3" } %>
        <%= f.input :email, label: "Email", required: true, autofocus: true, input_html: { class: "form-control mb-3", autocomplete: "email" } %>
        <%= f.input :password, label: "Password", required: true, input_html: { class: "form-control mb-3", autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, label: "Confirm Password", required: true, input_html: { class: "form-control mb-3", autocomplete: "new-password" } %>

        <div class="text-center">
          <%= f.button :submit, "Sign up", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
  </div>
</div>
