<div class="container my-4">
  <div class="row">
    <div class="col-6 col-md-4 col-lg-3 p-3">
      <div class="card border-0">
        <img class="card-img-top w-100" srcset="<%= @character.image_url%>" alt="<%= @character.name %>">
        <div class="d-flex px-4 py-2">
          <% @character.calculate_rating.times do %>
            <i class="fas fa-star text-warning p-2 fs-4"></i>
          <% end %>
          <% if @character.calculate_rating < 5 %>
            <% (5 - @character.calculate_rating).times do %>
              <i class="fas fa-star p-2 fs-4"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-9 my-3">
      <div class="character-details p-4 bg-light rounded shadow-sm">
        <h2 class="character-name mb-3">
          <%= @character.name %>
          <% if @character.kanji.present? %>
          <small class="text-muted">(<%= @character.kanji %>)</small>
          <% end %>
        </h2>
        <p class="mb-0"><%= @character.details %></p>
      </div>
    </div>
  </div>
</div>

<div data-controller="toggle" data-toggle-value="<%= @user_signed_in %>">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 d-flex justify-content-center">
        <button class="btn btn-secondary w-100 p-3 rounded-4" data-action="click->toggle#fire"><i class="fa-solid fa-plus"></i></button>
      </div>
    </div>
  </div>

  <div class="container my-3 <%= 'd-none' unless @userevaluation.errors.any?%>" data-toggle-target="formToggle">
    <div class="container my-3">
      <%= simple_form_for [@character, @userevaluation] do |f| %>
        <%= f.input :comments %>
        <%= f.input :userrating %>
        <%= f.button :submit, class:"btn btn-secondary"%>
      <% end %>
      </div>
  </div>
</div>

<div class="vh-100">
  <% @userevaluations.each do |userevaluation| %>
  <div class="container my-3">
    <div class="card border-1">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="d-flex align-items-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="User Avatar" class="rounded-circle me-3" style="width: 35px; height: 35px;">
            <div>
              <h5 class="card-title mb-0"><%= userevaluation.user.nickname %></h5>
            </div>
          </div>
          <div>
            <% userevaluation.userrating.times do %>
              <i class="fas fa-star text-warning"></i>
            <% end %>
            <% if userevaluation.userrating < 5 %>
              <% (5 - userevaluation.userrating).times do %>
                <i class="fas fa-star"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <p class="card-text"><%= userevaluation.comments %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
